fastapi
uvicorn[standard]
python-multipart
pdfplumber
spacy
sentence-transformers
scikit-learn
sqlalchemy
aiosqlite
greenlet
pydantic
pydantic-settings
python-dotenv
numpy
aiofiles
httpx
reportlab
easyocr
python-jose[cryptography]
passlib[bcrypt]
pymupdf
Pillow
